html {
    /* Text & Background Colors */
    --text-color: #676a6c;
    --bg-color: #ff7b29;
  
    /* Navbar */
    --navbar-link-hover-color: #2d3134;
  
    /* Logo */
    --logo-title-color: #212832;
  
    /* Top Action Button */
    --top-act-btn-bg-color: #31c3e0;
    --top-act-btn-text-color: #fff;
    --top-act-btn-bg-hover: #28b3d8;
  }
  