@use '../abstracts';

%flexItemCenter {
  display: flex;
  align-items: center;
}

.header {
  margin-bottom: 50px;
  padding-top: 32px;

  @include abstracts.screen(sm) {
    padding-top: 18px;
    margin-bottom: 58px;
  }
}

.top-bar {
  @extend %flexItemCenter;
  height: 48px;
}

.navbar {
  margin-left: 233px;

  @include abstracts.screen(sm) {
    position: fixed;
    inset: 0 0 0 20%;
    background: var(--bg-body);
    z-index: 9;
    margin-left: 0;
    padding: 20px 0;

    translate: 100%;
    transition: translate 0.5s;

    &.show {
      translate: 0;
    }

    &.show ~ &__overlay {
      visibility: visible;
      opacity: 1;
    }
  }

  &__item {
    @include abstracts.screen(sm) {
      width: 100%;
    }
  }

  &__close-btn {
    display: none;

    @include abstracts.screen(sm) {
      width: 30px;
      font-size: 2rem;
      display: block;
      position: absolute;
      top: 30px;
      right: 40px;
    }
  }

  &__overlay {
    visibility: hidden;
    opacity: 0;

    @include abstracts.screen(sm) {
      position: fixed;
      inset: 0;
      z-index: 8;

      transition: opacity, visibility;
      transition-duration: 0.5s;

      background: rgba($color: var(--bg-rgba), $alpha: 0.4);
    }
  }

  &__list {
    @extend %flexItemCenter;
    gap: 34px;

    @include abstracts.screen(sm) {
      width: 300px;
      padding: 0 20px;
      position: absolute;
      top: 100px;
      flex-direction: column;
      gap: 28px;
      overscroll-behavior: contain;
    }
  }

  &__item {
    width: 100%;
    text-align: center;
  }

  &__link {
    display: block;
    position: relative;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 16px;
    word-wrap: break-word;
    transition: color 0.3s;

    @include abstracts.screen(sm) {
      padding: 0 20px;
      font-size: 1.5rem;
    }

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      background-color: var(--bg-color);
      left: 0;
      bottom: -10px;
      transition: width 0.3s;
    }

    &:hover {
      color: var(--navbar-link-hover-color);

      &::after {
        width: 100%;
      }
    }
  }
}

.top-act {
  margin-left: auto;

  &__btn {
    width: 131px;
    height: 48px;
    display: inline-block;
    background: var(--top-act-btn-bg-color);
    color: var(--bg-body);
    font-size: 1.4rem;
    font-weight: 500;
    border: 1.4px solid transparent;
    border-radius: 8px;
    text-align: center;
    line-height: 48px;
    word-wrap: break-word;
    transition: background 0.3s ease, transform 0.2s ease;

    &:hover {
      background: var(--top-act-btn-bg-hover);
      transform: scale(1.05);
    }
  }
}
