@use '../abstracts';

.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  @include abstracts.screen(sm) {
    margin-right: auto;
  }

  &__img {
    @include abstracts.screen(sm) {
      width: 34px;
    }
  }

  &__title {
    color: var(--logo-title-color);
    font-size: 2.4rem;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;

    @include abstracts.screen(sm) {
      font-size: 2.2rem;
    }
  }
}
