<!-- Footer top -->
<div class="footer-top">
  <div class="row row-cols-4 row-cols-sm-2">
    <!-- Item 1 -->
    <div class="col">
      <div class="footer-item">
        <h4 class="footer-item__title">Resources</h4>
        <div class="footer-item__list">
          <p class="footer-item__detail">Download</p>
          <p class="footer-item__detail">Help Center</p>
          <p class="footer-item__detail">Guide Book</p>
          <p class="footer-item__detail">App Directory</p>
        </div>
      </div>
    </div>

    <!-- Item  2-->
    <div class="col">
      <div class="footer-item">
        <h4 class="footer-item__title">Travelers</h4>

        <div class="footer-item__list">
          <p class="footer-item__detail">Why Travelers</p>
          <p class="footer-item__detail">Enter price</p>
          <p class="footer-item__detail">Customer Stories</p>
          <p class="footer-item__detail">Instagram post</p>
        </div>
      </div>
    </div>

    <!-- Item 3-->
    <div class="col">
      <div class="footer-item">
        <h4 class="footer-item__title">Company</h4>
        <div class="footer-item__list">
          <p class="footer-item__detail">Traveling</p>
          <p class="footer-item__detail">About Locato</p>
          <p class="footer-item__detail">Success</p>
          <p class="footer-item__detail">Information</p>
        </div>
      </div>
    </div>

    <!-- Item 4-->
    <div class="col">
      <div class="footer-item">
        <h4 class="footer-item__title">Get in Touch</h4>
        <div class="footer-item__list">
          <p class="footer-item__detail footer-item__detail-fz">
            Feel free to get in touch with us vai email
          </p>

          <a href="mailto:email@gmail.com" class="footer-item__email"
            >email@gmail.com</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Back to Top Icon -->
<a href="#top" class="back-to-top" title="back to top">
  <i class="fa-solid fa-arrow-up"></i>
</a>

<!-- Footer bottom -->
<div class="footer-bottom d-flex">
  <!-- Logo -->
  <a href="./" class="logo">
    <img src="./assets/icons/logo.svg" alt="Safe Tour." class="logo__img" />
    <h2 class="logo__title">Safe Tour</h2>
  </a>

  <!-- Navbar -->
  <nav class="navbar-footer">
    <ul class="navbar-footer__list">
      <li class="navbar-footer__item">
        <a href="#!" class="navbar-footer__link">Home</a>
      </li>
      <li class="navbar-footer__item">
        <a href="#!" class="navbar-footer__link">About</a>
      </li>
      <li class="navbar-footer__item">
        <a href="#!" class="navbar-footer__link">Destinations</a>
      </li>
      <li class="navbar-footer__item">
        <a href="#!" class="navbar-footer__link">Tours</a>
      </li>
      <li class="navbar-footer__item">
        <a href="#!" class="navbar-footer__link">Blog</a>
      </li>
    </ul>
  </nav>

  <!-- Action -->
  <div class="footer-bottom__action d-flex">
    <i class="fa-brands fa-facebook-f footer-bottom__icon"></i
    ><i class="fa-brands fa-instagram footer-bottom__icon"></i
    ><i class="fa-brands fa-twitter footer-bottom__icon"></i>
  </div>
</div>
