<div class="top-bar">
  <!-- Logo -->
  <a href="./" class="logo">
    <img src="./assets/icons/logo.svg" alt="Safe Tour." class="logo__img" />
    <h2 class="logo__title">Safe Tour</h2>
  </a>

  <!-- Navbar -->
  <nav id="navbar" class="navbar">
    <button class="navbar__close-btn js-toggle" toggle-target="#navbar">
      <i class="fa-solid fa-xmark"></i>
    </button>

    <ul class="navbar__list">
      <li class="navbar__item">
        <a href="#!" class="navbar__link">Home</a>
      </li>
      <li class="navbar__item">
        <a href="#!" class="navbar__link">About</a>
      </li>
      <li class="navbar__item">
        <a href="#!" class="navbar__link">Destinations</a>
      </li>
      <li class="navbar__item">
        <a href="#!" class="navbar__link">Blog</a>
      </li>
      <li class="navbar__item">
        <a href="#!" class="navbar__link">Pages</a>
      </li>
    </ul>
  </nav>

  <!-- More -->
  <button class="top-bar__more js-toggle" toggle-target="#navbar">
    <img src="./assets/icons/more.svg" alt="" class="top-bar__more-icon" />
  </button>

  <div class="navbar__overlay js-toggle" toggle-target="#navbar"></div>

  <!-- Action -->
  <div class="top-act">
    <a href="#!" class="top-act__btn top-act__link">Contact us</a>
  </div>
</div>
