<!-- Top bar -->
<div class="top-bar">
  <!-- Logo -->
  <a href="./" class="logo">
    <img src="./assets/icons/logo.svg" alt="Safe Tour." class="logo__img" />
    <h2 class="logo__title">Safe Tour</h2>
  </a>

  <!-- More -->
  <button
    class="top-bar__more d-none d-sm-block js-toggle"
    toggle-target="#navbar"
  >
    <img src="./assets/icons/more.svg" alt="" class="top-bar__more-icon" />
  </button>

  <!-- Navbar -->
  <nav id="navbar" class="navbar hide">
    <button
      class="navbar__close-btn js-toggle d-none d-sm-block"
      toggle-target="#navbar"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>

    <ul class="navbar__list">
      <li class="navbar__item">
        <a href="" class="navbar__link">Home</a>
      </li>
      <li class="navbar__item">
        <a href="#tour" class="navbar__link">About</a>
      </li>
      <li class="navbar__item">
        <a href="#destination" class="navbar__link">Destinations</a>
      </li>
      <li class="navbar__item">
        <a href="#blog" class="navbar__link">Blog</a>
      </li>
      <li class="navbar__item">
        <a href="#!" class="navbar__link">Pages</a>
      </li>
    </ul>
  </nav>

  <div class="navbar__overlay js-toggle" toggle-target="#navbar"></div>

  <!-- Action -->
  <div class="top-act d-sm-none">
    <a href="#!" class="top-act__btn top-act__link">Contact us</a>
  </div>
</div>
